<div class="instagram">
    <div class="instagram__container">
        <header class="instagram__header">
            <img src="@img(instagram)" alt="Instagram @alissonjoias">
            <h3>Instagram @alissonjoias</h3>
        </header>
        <div class="instagram__main">
            <div class="instagram__images">
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-01.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-02.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-03.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-04.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-05.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-06.jpg"}}" alt="" /></a>
                <a href="#"><img src="{{media url="wysiwyg/instagram/insta-07.jpg"}}" alt="" /></a>
            </div>
        </div>
    </div>
</div>