.add-to-links
    .link-wishlist
        a
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            height: 50px

            .ico
                width: 26px
                height: 20px
                fill: var(--color-text-black)

            span
                display: none