.configurable
    .prod__shop &
        padding-top: 30px

    &:before
        content: 'Escolha a opção desejada'
        font-weight: regular
        font-size: 12px
        line-height: 16px

    &__caption
        display: none

    .configurable-swatch-list
        a
            padding: 0 16px
            border-radius: 4px
            background: #BEBEBE
            color: white
            font-weight: regular
            font-size: 16px

        .selected a
            background: var(--primary)
            box-shadow: none