.filters
    > .title
        @media media-min-lg
            display: none

    &__filter
        @media media-min-lg
            box-shadow: inset 0 0 0 1px #EFEFEF

    &__name
        color: #fff
        font-weight: bold
        font-size: 18px
        line-height: 20px

        @media media-min-lg
            color: var(--primary)

    .link, .count, .a--0
        color: var(--color-text-black)
        font-weight: regular
        font-size: 12px