.header
    align-items: center
    padding-top: 24px

    &-container
        position: sticky
        top: 0
        background-image: url(bg)
        background-size: auto 100%

    .search
        flex: 0 1 350px

    .logo
        margin: 0 auto
