.header
    align-items: center

    @media media-min-lg
        padding-top: 24px
        transition: all .2s ease-in-out

        .scrolling &
            padding-top: 10px

    @media media-max-lg
        padding: 10px 0

    &-container
        position: sticky
        top: 0
        background-image: url(bg)
        background-size: auto 100%

    .search
        flex: 0 1 350px

    .logo
        margin: 0 auto
