.myaccount
    .header &
        margin-right: 0

        @media media-max-lg
            margin-left: auto

        @media media-min-lg
            flex: 0 1 180px

    &__header
        a
            display: flex
            justify-content: center
            align-items: center

            @media media-max-lg
                width: 48px
                height: 48px

        .ico
            width: 18px
            height: 20px
            color: var(--primary-contrast)

        .text
            margin-left: 14px
            color: var(--primary-contrast)
            font-weight: regular
            font-size: 14px
            opacity: .5

            @media media-max-lg
                display: none

    &__content
        display: none !important
