.myaccount
    .header &
        flex: 0 1 180px
        margin-left: auto

    &__header
        a
            display: flex
            align-items: center

        .ico
            width: 18px
            height: 20px
            color: var(--primary-contrast)

        .text
            margin-left: 14px
            color: var(--primary-contrast)
            font-weight: regular
            font-size: 14px
            opacity: .5

    &__content
        display: none !important
