.mymenu
    .footer &
        .a--0
            color: var(--color-gray)
            font-weight: regular
            font-size: 12px
            line-height: 1

    &#departamentos
        .ul--0
            column-count: 2

        .ul--1
            break-inside: avoid