.search
    .header &
        @media media-max-sm
            flex: 0 0 auto
            margin-right: auto
            margin-left: 0

            &.on .search__input
                height: 66px

            &__hide
                display: flex
                justify-content: center
                align-items: center
                height: 64px

            &__button
                width: 52px
                height: 52px
                border-radius: 4px

                &:hover
                    background: var(--primary)

        @media media-min-sm
            flex: 0 1 330px
            margin-left: 20px

            &__button
                display: flex
                order: -1
                justify-content: center
                align-items: center
                margin-right: 10px
                padding: 0
                width: 32px
                height: 32px
                border-radius: 0
                background: none
                box-shadow: none
                color: var(--primary)

                .ico
                    width: 24px
                    height: 24px
                    fill: currentColor

            &__input
                padding: 0
                height: 32px
                border: 0
                border-bottom: solid 1px var(--primary-contrast)
                border-radius: 0
                background: none
                box-shadow: none
                color: var(--primary-contrast)
                font-weight: regular
                font-size: 14px

                &::placeholder
                    opacity: .5

                &:focus
                    border-color: transparent
                    border-bottom: solid 1px var(--primary-contrast)
                    border-radius: 0

                    &::placeholder
                        color: transparent