.sharing-links
    .prod__img &
        padding-top: 15px

        .list:before
            color: #888888
            font-size: 12px

        li
            flex: 0 0 20px

        a
            padding: 0
            width: 20px
            height: 20px
            background: none

            .ico
                width: 20px
                height: 20px
                fill: currentColor

        .fb-share
            .ico
                padding: 3px 0 0 3px
                border-radius: 2px
                background: var(--facebook)

                &, path
                    fill: white !important
