.toolbar
    .limiter
        display: none

    .amount
        color: var(--color-text-black)
        font-weight: regular
        font-size: 12px
        line-height: 30px
        opacity: 1

    .sort-by
        label
            color: var(--color-text-black)
            font-weight: regular
            font-size: 12px
            opacity: 1

        select
            padding: 0 16px
            height: 36px
            border: 1px solid #EFEFEF
            border-radius: 4px
            background: #FFFFFF
            background: url(down) no-repeat center right 10px
            box-shadow: none
            color: var(--primary)
            font-weight: regular
            font-size: 12px
            appearance: none